<h1>CAESAR CIPHER CRYPT TOOL</h1>
<p><strong>Important:</strong> Caesar was good.. but maybe 2k years ago</p>
<center><%= form_with scope: :home, url: 'home/result', local: true do |form| %>
  <p>
    <%= form.label 'String to encrypt:' %><br>
    <%= form.text_field :string %>
  </p>
  <p>
    <%= form.submit "Crypt it!"%>
  </p>
<% end %>
<img src="http://s2.quickmeme.com/img/11/11e6f589fccb52314cfd7f0342f54c0da27d184636815526ad380448e99ac272.jpg"></center>
