<h1>CAESAR CIPHER CRYPT TOOL</h1>
<h2>Result:</h2>
<br />
<center><p style="font-size: 24px; font-weight: bold;">Your cryptogram:</p>
<table><tr><td style="color: yellow; background-color: gray; font-size: 56px; width: 300px; text-align: center;"><%= @result %></td></tr></table></center>
<br/><br/>
<%= link_to 'Try again >', '/' %>
